
<h1><%= @collage.name %></h1>
<div>
    <p> <%= @collage.description %></p>
</div>

<h1>THIS COLLAGES IMAGES: </h1>
<%= link_to "Takes us to collage Images path", collage_images_path(@collage) %>
<ul>
<% @collage.images.each do |img| %>
    <li><%= link_to(img.title, image_path(img)) %> - <%= index_date_format(img) %></li>
<% end %>
</ul>

<%= link_to 'back', collages_path %>
