<% if @collage.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@collage.errors.count, "error") %> prohibited this collage from being saved:</h2>

    <ul>
      <% @collage.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1><%= @collage.name %></h1>
<div>
    <p> <%= @collage.description %></p>
</div>

<h1>THIS COLLAGES IMAGES: </h1>
<ul>
<% @collage.images.each do |img| %>
    <li><%= link_to(img.title, image_path(img)) %> - <%= img.uploaded_at %></li>
<% end %>
</ul>

<%= link_to 'back', collages_path %>
