<h1> Create New Image </h1>

<%= render partial: 'errors/errors', locals: {model: @image} %>

<%= form_with(model: [@collage, @image]) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %><br>
    <%= fields_for_helper(f) %>
    <%= f.submit 'Create Image' %>
<% end %>
