<h1> Create New Image </h1>

<%= render partial: 'errors/errors', locals: {model: @image} %>

<%= form_with(model: @image) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :description %>
    <%= f.text_field :description %><br>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %><br>
    <h3> SELECT A EXISTING COLLAGE </h3>
    <%#= collection_select(:post, :author_id, Author.all, :id, :name_with_initial, prompt: true) %>
    <%= f.collection_select(:collage_id, Collage.all, :id, :name) %>

      <h3> CREATE A NEW COLLAGE</h3>
      <%#= name, description %>
    <%= f.fields_for :collage do |c| %>
      <%= c.label :name %>
      <%= c.text_field :name %><br>
      <%= c.label :description %>
      <%= c.text_field :description %><br>

    <% end %>

    <%= f.submit 'Create Image' %>
<% end %>
