<% if @image.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

    <ul>
      <% @image.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= image_tag(@image.image_url) %>
<h1><%= @image.title %></h1>
<div>
    <p> <%= @image.uploaded_at %></p>
    <p> <%= @image.description %></p>
    <p> Views: <%= @image.views %></p>
    <p> Likes: <%= @image.likes %></p>
    <p> Dislikes: <%= @image.dislikes %></p>
</div>

<%= link_to 'back', images_path %>
<%= link_to 'Edit', edit_image_path(@image) %>