<%= render partial: 'errors/errors', locals: {model: @image} %>

<%= image_tag(@image.image_url) %>
<h1><%= @image.title %></h1>
<div>
    <p> <%= format_created_at(@image) %></p>
    <p> <%= @image.description %></p>
    <p> Views: <%= @image.views %></p>
    <a>
        <i class="bi bi-hand-thumbs-up">Likes: <%= link_to(@image.likes, image_path(@image), style: "text-decoration:none") %></i>
    
    </a>
    <%= link_to(content_tag(:i, 'likes', class: 'bi bi-hand-thumbs-up'), '/') %>

    <p> </p>
    <p> Dislikes: <%= @image.dislikes %></p>
</div>

<%= link_to 'back', images_path %>
<%= link_to 'Edit', edit_image_path(@image) %>

<%#=  Could use partial so that you can put this in comment comments/_form %>
<%= form_with(model: [@image, @comment]) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :image_id, value: @image.id %>
    <%= f.text_area :content %>
    <%= f.submit :comment %>
<% end %>

COMMENTS:
<ul>   
    <%# This one needs partial %>
    <%# <%= render @comments  %>

    <%# This one has a small bug, where it renders alot and slows down  page %>
    <%#= @comments.each do |comment| %>
        <%#= render partial: 'comments/comment' %>
    <%# end %>

    <%# This is what the above does! %>
    <% @comments.each do |comment| %>
        <li>
            <%= comment.user.name %> - <%= comment.content %>
        </li>
    <% end %>
</ul>
